# Temporary Files
*~
.*.swp
.DS_STORE
*.iml

benchmarks/charts/results
jmh-result.csv
.R*

bin/
target/

# Mac specific files
.DS_Store

# Vim
.*.sw[0-9a-zA-Z]

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.apt_generated/
.Rproj.user
